* {
    /* Override any browser supplied element specific stylesheets to prevent gaps between elements
     * where touch events would not be picked up */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    /* Turn off highlighting of currently selected input that is added by jQuery Mobile */
    outline: none;
}

body {
    /* Prevent touch events from selecting the text in the boxes */
    font-size: small;
    overflow-y: hidden;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: #a0a0a0;
    background-color: #000000;
    /*-webkit-fill-available: 1;*/

    /* Disable default zoom, scroll and refresh gestures */
    -webkit-touch-callout: none;
    touch-action: none;

    /*white-space: nowrap;*/
    /*word-break: break-all;*/

    overscroll-behavior: contain;
}

.grid {
    /* Top level grid containing the main UI elements */
    display: grid;
    /* Left Middle Right */
    /* 40-- 20---- 25-15 */
    /* Touch---       Scroll */
    /* 40 20 25       15 */
    /* Touch---       Full */
    /* 40 20 25       15 */
    width: 100vw;
    /*height: 100vh - var(--vh-offset, 0px);*/
    padding: 0;
    border: none;
    grid-template-columns: [col] 40vw [col] 20vw [col] 25vw [col] 15vw;

    grid-template-rows:
            [row] calc(var(--vh-offset, 1vh) * 15)
            [row] calc(var(--vh-offset, 1vh) * 65)
            [row] calc(var(--vh-offset, 1vh) * 10)
            [row] calc(var(--vh-offset, 1vh) * 10);
}

.rounded-box {
    /* Top level UI elements */
    display: flex;
    overflow: hidden;
    flex-direction: column;
    /*flex-basis: fit-content;*/
    justify-content: space-evenly;
    min-width: 0;
    min-height: 0;
    margin: 0.5rem;
    padding: .5rem;
    border-width: thick;
    border-style: solid;
    border-color: #808080;
    border-radius: 1rem;
    background-color: #191919;
}

.func {
    margin-bottom: auto;
}

#log {
    font-size: small;
    padding-bottom: 2rem;
    filter: brightness(75%)
}

.help {
    font-size: small;
    border: 0;
    filter: brightness(75%)
}

#scroll {
    display: flex;
    flex-direction: row;
    writing-mode: vertical-rl;
}

.scroll-help {
    align-self: end;
    width: max-content;
    padding: 0 0 1rem 0;
    white-space: nowrap;
    filter: brightness(75%);
}

#scroll-title {
    /*     align-self: center; */
    /*     padding: 1rem 0 0 0; */
}

#right {
    grid-column: span 2
}

#move {
    grid-column: span 3;
    grid-row: span 3;
}

.highlight {
    color: #202020 !important;
    background-color: #9A6623 !important;
}

.log-debug {
    color: #a0a0a0 !important;
    filter: brightness(50%);
}

.log.debug {
    color: #00ff00 !important;
    filter: brightness(50%);
}

.log-warning {
    color: #ff7c00 !important;
}

.log-error {
    color: #ff0000 !important;
}

.log-critical {
    color: #ff0000 !important;
}

.log-cmd {
    color: #ffff00 !important;
    filter: brightness(50%);
}

.button-touch {
    filter: brightness(50%);
}

#scroll-tip {
    position: absolute;
    display: none;
    margin: 1rem 5rem 1rem 1rem;
    padding: 1rem 5rem 1rem 1rem;

    white-space: nowrap;
    border-width: .1rem;

    border-style: solid;
    border-color: #808080;
    border-radius: 1rem;
    background-color: #303030;

    box-shadow: 0 0 .25rem .25rem black;
}

#scroll-tip.visible {
    display: inline;
}

#overlay {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
