/* Override any browser supplied element specific stylesheets to prevent
 * gaps between elements where touch events would not be picked up */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    /* Prevent touch events from selecting the text in the boxes */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Disable default zoom, scroll and refresh gestures */
    touch-action: none;
    overflow-y: hidden;
    overscroll-behavior: contain;

    background-color: #000000;
    color: #a0a0a0;
}

.grid {
    display: grid;
    /* Left Middle Right */
    /* 40-- 20---- 25-15 */
    /* Touch---       Scroll */
    /* 40 20 25       15 */
    /* Touch---       Full */
    /* 40 20 25       15 */
    grid-template-columns: [col] 40vw  [col] 20vw [col] 25vw  [col] 15vw;
    grid-template-rows: [row] 15vh [row] 75vh [row] 10vh;

    width: 100vw;
    height: 100vh;
    padding: 0;
    border: none;: focus: none;:: focus: none;
}

.box {
    margin: 0.5rem;
    border-radius: 1rem;
    padding: .5rem;
    border-width: thick;
    border-color: #808080;
    border-style: solid;
    background-color: #191919;
}

#scroll-text {
    padding: 1rem;
    transform: rotate(90deg);
    text-align: end;
}


#left {
    display: flex;
    flex-direction: column;
}

#right {
    grid-column: span 2
}


#touch {
    display: flex;
    flex-direction: column;
    flex-basis: fit-content;
    grid-column: span 3;
    grid-row: span 3;
}

#scroll {
}

#full-screen {
}

.top {
    margin-bottom: auto;
}

.bottom {
    border: 0;
    font-size: smaller;
    filter: brightness(75%);
}

.button-down {
    background-color: #9A6623;
}

.button-touch {
    filter: brightness(50%);
}


#scroll-tip {
    display: none;
    position: absolute;
    background-color: #303030;
    white-space: nowrap;

    padding: 1rem 5rem 1rem 1rem;
    margin: 1rem 5rem 1rem 1rem;

    border-radius: 1rem;
    border-width: thin;
    border-color: #808080;
    border-style: solid;
}

#scroll-tip.moving {
    display: inline;
}

